<html>
  <head>
    <link href='/styles.css' rel="stylesheet">
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="logoBird.png" alt="Logo Bird">
      </div>
      <h1>Winging our way around the world</h1>
    </header>
    <div id="content">
      <h1>First article</h1>
      <p>Content of the article</p>
    </div>
  </body>
</html>
